<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="FluentAssertions.TestFramework" value="nunit" />
    
    <add key="TestingEnvironment" value="DEV" />
    <!-- DEV, PROD, SANDBOX-->

    <!-- DEV -->
    <add key="DevelopmentBaseUrl" value="https://dev.paycodenetwork.com/v1" />
    <!-- Insurer 1 Development -->
    <add key="ConfigInsurer1DevSlug" value="test-insurer" />
    <add key="ConfigInsurer1DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IklOU1VSRVIiLCJ1c2VyX25hbWUiOiJJTlNVUkVSLTEiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoxLCJhdXRob3JpdGllcyI6WyJST0xFX0lOU1VSRVIiXSwianRpIjoiZDVlM2ZjYWUtYjg5Yi00ZjI2LWFhMWUtYWU2NjcxZTk5YTk0Iiwic2x1ZyI6InRlc3QtaW5zdXJlciIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.zin1h7secwEYXCLJzKPVnyQiyo3otWDSoiVtkFY21PQ" />

    <!-- Insurer 2 Development -->
    <add key="ConfigInsurer2DevSlug" value="test-insurer-2" />
    <add key="ConfigInsurer2DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IklOU1VSRVIiLCJ1c2VyX25hbWUiOiJJTlNVUkVSLTIiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoyLCJhdXRob3JpdGllcyI6WyJST0xFX0lOU1VSRVIiXSwianRpIjoiMjAyODNmYTMtOWY1Ny00OTFmLWI3MGUtYmY2OWU1N2ZhODg5Iiwic2x1ZyI6InRlc3QtaW5zdXJlci0yIiwiY2xpZW50X2lkIjoib3NpZ3VfaW5zdXJlcnNfYXBwIn0.3EOhYFU6OttPF_5Yob-S0yKy5gnF8NjLJ_qbsv_cU2Y" />

    <!-- Provider Branch 1 Development -->
    <add key="ConfigProvider1DevSlug" value="test-provider" />
    <add key="ConfigProvider1DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0xIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MSwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiNzdmMDM1YWQtMTRlMi00YzFlLTk4NmMtZWNjZDJiZGNlNzBkIiwic2x1ZyI6InRlc3QtcHJvdmlkZXIiLCJjbGllbnRfaWQiOiJvc2lndV9pbnN1cmVyc19hcHAifQ.vGAGxY90dJ1IcAgP8Nc4uG3aiQgEVKMVTjWtiVmn28I" />
    <add key="ProviderBranchIdDev" value="1"/>
    <add key="ProviderBranchNameDev" value="test-branch-1"/>
    
    <!-- Provider Branch 2 Development -->
    <add key="ConfigProvider2DevSlug" value="test-provider-2" />
    <add key="ConfigProvider2DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0yIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiMWM2ODM2YWUtMDVlMC00MWQyLWI2NjQtYjQ4NDU2YmU3NjU2Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMiIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.DIvKBrgHrHebZaGEXNBgjPo0bQ6IjeVqRsflS2Un15g" />

    <!-- Provider Branch 3 Development -->
    <add key="ConfigProvider3DevSlug" value="test-provider-3" />
    <add key="ConfigProvider3DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0zIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MywiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiMmZjZDJiYzMtMGZhZC00YjQ2LWEwMmEtNjhiY2IzODA1ODk5Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMyIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.aV2rs4odN0YtB53jULzV2tH7JYvuhw6r5J33QLtCGGI" />


    <!-- Osigu Products Development (changes daily) -->
    <add key="ConfigOsiguDevSlug" value="test-provider" />
    <add key="ConfigOsiguDevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0yIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiNTg4NTQ4ZWMtMzk1Yy00OTNiLTkxZjUtMGM3YmRiMDg2N2M4Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMiIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.8MIFeIHWS_mYxPiol3p7HXGJDcXAMYLSUdtvA5VYWl8" />

    <!-- Settlement Products Development -->
    <add key="SettlementDevBaseUrl" value="https://dev.paycodenetwork.com/v1/settlements" />
    <add key="ConfigSettlementDevSlug" value="fayco" />
    <add key="ConfigSettlementDevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlVTRVIiLCJ1c2VyX25hbWUiOiJVU0VSLTEiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoxLCJhdXRob3JpdGllcyI6WyJST0xFX0FVVEhfU0VSVkVSX0FQSV9BRE1JTiJdLCJqdGkiOiIzZjJjZTFlYS1lZDgwLTRiM2QtYmIwNi05ODAyYTQ2NDNmZTEiLCJzbHVnIjoiIiwiY2xpZW50X2lkIjoib3NpZ3VfaW5zdXJlcnNfYXBwIn0.ui7OI66qLdpo1k35J3Yq59ZOXCa2fOJj8UaDRO291No" />

    <!-- Internal Products Development -->
    <add key="InternalDevBaseUrl" value="https://dev.paycodenetwork.com/v1" />
    <add key="InternalDevSlug" value="" />
    <add key="InternalDevToken" value="eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiYXV0aG9yaXRpZXMiOlsiUk9MRV9UUlVTVEVEX0NMSUVOVCIsIlJPTEVfSU5URVJOQUxfU0VSVklDRSJdLCJqdGkiOiI2NDkyNTUwZi05NDIyLTRmYjEtOTU4OS01ZjlmNTdlMjRiYTIiLCJjbGllbnRfaWQiOiJvc2lndV9pbnRlcm5hbF9zZXJ2aWNlIn0.Hs00OziC28-7uiTygK56X5ZhDjV2vS9WcnqauxcS8aPHaThJu2Y3l5G1i7SMV0GMLaI3hYVpBve_nM1PQC_2X16eR4j9OgiuFzILvIPVY0Ztah2STgPQBJYB58dxDggMudHwMB_SyCpytnCoXYBxLLQ9uNqAeaB-mcrFcol29Fk" />

    <!-- PROD -->
    <add key="ProductionBaseUrl" value="https://api.paycodenetwork.com/v1" />
    <!-- Insurer 1 Production -->
    <add key="ConfigInsurer1ProdSlug" value="test-insurer" />
    <add key="ConfigInsurer1ProdToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IklOU1VSRVIiLCJ1c2VyX25hbWUiOiJJTlNVUkVSLTIiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoyLCJhdXRob3JpdGllcyI6WyJST0xFX0lOU1VSRVIiXSwianRpIjoiMWNkZDUwYWItMzZjZi00MWJjLWE2YmUtNmE3MjY1N2FlMmU4Iiwic2x1ZyI6InRlc3QtaW5zdXJlciIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.LYvZZRJJ51XsDKn-z6zTLsYcfQas7GtyjaX1EvQWPEc" />

    <!-- Insurer 2 Production -->
    <add key="ConfigInsurer2ProdSlug" value="test-insurer-2" />
    <add key="ConfigInsurer2ProdToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IklOU1VSRVIiLCJ1c2VyX25hbWUiOiJJTlNVUkVSLTIiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoyLCJhdXRob3JpdGllcyI6WyJST0xFX0lOU1VSRVIiXSwianRpIjoiMjAyODNmYTMtOWY1Ny00OTFmLWI3MGUtYmY2OWU1N2ZhODg5Iiwic2x1ZyI6InRlc3QtaW5zdXJlci0yIiwiY2xpZW50X2lkIjoib3NpZ3VfaW5zdXJlcnNfYXBwIn0.3EOhYFU6OttPF_5Yob-S0yKy5gnF8NjLJ_qbsv_cU2Y" />

    <!-- Provider Branch 1 Production -->
    <add key="ConfigProvider1ProdSlug" value="test-provider" />
    <add key="ConfigProvider1ProdToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0zOCIsInNjb3BlIjpbInJlYWQiLCJ3cml0ZSJdLCJlbnRpdHlfaWQiOjM4LCJhdXRob3JpdGllcyI6WyJST0xFX1BST1ZJREVSX0JSQU5DSCJdLCJqdGkiOiIwOTFkNjBlNC01YzNiLTRlMDMtOTcxYS1kNWE0YTY4YWQwNjIiLCJzbHVnIjoidGVzdC1wcm92aWRlciIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.HREAyEw6ZyJq8j__iICWi1VOheRJWEn35MdnPCpl_cE" />
    <add key="ProviderBranchIdProd" value="38"/>
    <add key="ProviderBranchNameProd" value="test-branch-38"/>

    <!-- Provider Branch 2 Production -->
    <add key="ConfigProvider2ProdSlug" value="test-provider-2" />
    <add key="ConfigProvider2ProdToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0yIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiNTg4NTQ4ZWMtMzk1Yy00OTNiLTkxZjUtMGM3YmRiMDg2N2M4Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMiIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.8MIFeIHWS_mYxPiol3p7HXGJDcXAMYLSUdtvA5VYWl8" />

    <!-- Osigu Products Production (changes daily) -->
    <add key="ConfigOsiguProdSlug" value="test-provider" />
    <add key="ConfigOsiguProdToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0yIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiNTg4NTQ4ZWMtMzk1Yy00OTNiLTkxZjUtMGM3YmRiMDg2N2M4Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMiIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.8MIFeIHWS_mYxPiol3p7HXGJDcXAMYLSUdtvA5VYWl8" />

    <!-- Settlement Products Production -->
    <add key="SettlementProdBaseUrl" value="https://http://10.0.1.21:5000" />
    <add key="ConfigSettlementProdSlug" value="fayco" />
    <add key="ConfigSettlementProdToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlVTRVIiLCJ1c2VyX25hbWUiOiJVU0VSLTEiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoxLCJhdXRob3JpdGllcyI6WyJST0xFX0FVVEhfU0VSVkVSX0FQSV9BRE1JTiJdLCJqdGkiOiIzZjJjZTFlYS1lZDgwLTRiM2QtYmIwNi05ODAyYTQ2NDNmZTEiLCJzbHVnIjoiIiwiY2xpZW50X2lkIjoib3NpZ3VfaW5zdXJlcnNfYXBwIn0.ui7OI66qLdpo1k35J3Yq59ZOXCa2fOJj8UaDRO291No" />

    <!-- Internal Products Production -->
    <add key="InternalProdBaseUrl" value="https://api.paycodenetwork.com/v1" />
    <add key="InternalProdSlug" value="" />
    <add key="InternalProdToken" value="" />


    <!-- Sandbox -->
    <add key="SandboxBaseUrl" value="https://sandbox.paycodenetwork.com/v1" />
    <!-- Insurer 1 Production -->
    <add key="ConfigInsurer1SboxSlug" value="test-insurer" />
    <add key="ConfigInsurer1SboxToken" value="589a4586628aac2815d20c1e17bc11ab" />

    <!-- Insurer 2 Production -->
    <add key="ConfigInsurer2SboxSlug" value="test-insurer-2" />
    <add key="ConfigInsurer2SboxToken" value="12345" />

    <!-- Provider Branch 1 Production -->
    <add key="ConfigProvider1SboxSlug" value="test-provider" />
    <add key="ConfigProvider1SboxToken" value="921a1006628ffb2815d20c1e17bb1fae" />
    <add key="ProviderBranchIdSbox" value="1"/>
    <add key="ProviderBranchNameSbox" value="test-branch-1"/>

    <!-- Provider Branch 2 Production -->
    <add key="ConfigProvider2SboxSlug" value="test-provider-2" />
    <add key="ConfigProvider2SboxToken" value="12345" />

    <!-- Osigu Products Production (changes daily) -->
    <add key="ConfigOsiguSboxSlug" value="test-provider-2" />
    <add key="ConfigOsiguSboxToken" value="12345" />

    <!-- Settlement Products Production -->
    <add key="SettlementSboxBaseUrl" value="https://http://10.0.1.21:5000" />
    <add key="ConfigSettlementSboxSlug" value="fayco" />
    <add key="ConfigSettlementSboxToken" value="12345" />

    <!-- Internal Products Sandbox -->
    <add key="InternalSboxBaseUrl" value="https://sandbox.paycodenetwork.com/v1" />
    <add key="InternalSboxSlug" value="" />
    <add key="InternalSboxToken" value="" />

  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" /></specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  
</configuration>
