<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestEnvironment" value="DEV"/> <!-- DEV, PROD, SANDBOX-->
    
    <!-- DEV -->
    <add key="DevelopmentBaseUrl" value="https://dev.paycodenetwork.com/v1"/>
    <!-- Insurer 1 Development -->
    <add key="ConfigInsurer1DevSlug" value="test-insurer"/>
    <add key="ConfigInsurer1DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IklOU1VSRVIiLCJ1c2VyX25hbWUiOiJJTlNVUkVSLTEiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoxLCJhdXRob3JpdGllcyI6WyJST0xFX0lOU1VSRVIiXSwianRpIjoiZDVlM2ZjYWUtYjg5Yi00ZjI2LWFhMWUtYWU2NjcxZTk5YTk0Iiwic2x1ZyI6InRlc3QtaW5zdXJlciIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.zin1h7secwEYXCLJzKPVnyQiyo3otWDSoiVtkFY21PQ"/>
  
    <!-- Insurer 2 Development -->
    <add key="ConfigInsurer2DevSlug" value="test-insurer-2"/>
    <add key="ConfigInsurer2DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IklOU1VSRVIiLCJ1c2VyX25hbWUiOiJJTlNVUkVSLTIiLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZW50aXR5X2lkIjoyLCJhdXRob3JpdGllcyI6WyJST0xFX0lOU1VSRVIiXSwianRpIjoiMjAyODNmYTMtOWY1Ny00OTFmLWI3MGUtYmY2OWU1N2ZhODg5Iiwic2x1ZyI6InRlc3QtaW5zdXJlci0yIiwiY2xpZW50X2lkIjoib3NpZ3VfaW5zdXJlcnNfYXBwIn0.3EOhYFU6OttPF_5Yob-S0yKy5gnF8NjLJ_qbsv_cU2Y"/>
    
    <!-- Provider Branch 1 Development -->
    <add key="ConfigProvider1DevSlug" value="test-provider"/>
    <add key="ConfigProvider1DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0zOCIsInNjb3BlIjpbInJlYWQiLCJ3cml0ZSJdLCJlbnRpdHlfaWQiOjM4LCJhdXRob3JpdGllcyI6WyJST0xFX1BST1ZJREVSX0JSQU5DSCJdLCJqdGkiOiIwOTFkNjBlNC01YzNiLTRlMDMtOTcxYS1kNWE0YTY4YWQwNjIiLCJzbHVnIjoidGVzdC1wcm92aWRlciIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.HREAyEw6ZyJq8j__iICWi1VOheRJWEn35MdnPCpl_cE"/>
  
    <!-- Provider Branch 2 Development -->
    <add key="ConfigProvider2DevSlug" value="test-provider-2"/>
    <add key="ConfigProvider2DevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0yIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiNTg4NTQ4ZWMtMzk1Yy00OTNiLTkxZjUtMGM3YmRiMDg2N2M4Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMiIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.8MIFeIHWS_mYxPiol3p7HXGJDcXAMYLSUdtvA5VYWl8"/>
    
    <!-- Osigu Products Development (changes daily) -->
    <add key="ConfigOsiguDevSlug" value="test-provider-2"/>
    <add key="ConfigOsiguDevToken" value="eyJhbGciOiJIUzI1NiJ9.eyJlbnRpdHlfdHlwZSI6IlBST1ZJREVSX0JSQU5DSCIsInVzZXJfbmFtZSI6IlBST1ZJREVSX0JSQU5DSC0yIiwic2NvcGUiOlsicmVhZCIsIndyaXRlIl0sImVudGl0eV9pZCI6MiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QUk9WSURFUl9CUkFOQ0giXSwianRpIjoiNTg4NTQ4ZWMtMzk1Yy00OTNiLTkxZjUtMGM3YmRiMDg2N2M4Iiwic2x1ZyI6InRlc3QtcHJvdmlkZXItMiIsImNsaWVudF9pZCI6Im9zaWd1X2luc3VyZXJzX2FwcCJ9.8MIFeIHWS_mYxPiol3p7HXGJDcXAMYLSUdtvA5VYWl8"/>
    
    <!-- Settlement Products Development -->
    <add key="SettlementBaseUrl" value="https://http://10.0.1.21:5000"/>
    <add key="ConfigSettlementDevSlug" value="fayco"/>
    <add key="ConfigSettlementDevToken" value="adsfasdfasdfasdfasdf"/>
  
  
  </appSettings>
</configuration>