<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.45.1" targetFramework="net45" />
  <package id="FluentAssertions" version="4.5.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="log4net-loggly" version="7.1.0" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="NUnit.Console" version="3.2.1" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.2.1" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.2.1" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.2.1" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.2.1" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.2.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net45" />
  <package id="SpecFlow" version="2.0.0" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="2.0.0" targetFramework="net452" />
</packages>